* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container{
    flex-direction: row;
    display: flex;
    background:whitesmoke;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    flex-direction: row-reverse;
}
.itema{
    width: 200px; ;
    height: 200px;;
    background: blue;
    margin: 10px;
    color: #b8b8b8;
}
.itemb{
    width: 200px; ;
    height: 200px;;
    background: black;
    margin: 10px;
    color: #b8b8b8;
}
.itemc{
    width: 200px; ;
    height: 200px;;
    background: red;
    margin: 10px;
    color: #b8b8b8;
}
.itemd{
    width: 200px; ;
    height: 200px;;
    background: green;
    margin: 10px;
    color: #b8b8b8;
}