* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
nav{
display: flex;
background-color:#131c27;
}
.pattaya{
font-family: 'Pattaya', sans-serif;
color: white;
}
footer{
background-color: #131c27;
color: white;
}
nav li{
justify-content: flex-end;
padding: 0 1rem 0 2rem;
}
nav ul{
display: flex;
justify-content: flex-end;
}
nav a{
color: white;
text-decoration: none;
}
button{
background-color:#4c6e97 ;
}
.block1{
background-image: url("./img/landing-page.jpg");
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
}
.block2{
background-image: url("./img/new-york-page.png");
background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: 100vh;
}
.block3{
background-color: #131c27;
}
.block4{
background-color: #ffffff;
}
.block5{
background-image: url("./img/contact-mountain.png");
width: 100vw;
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
text-align: center;
} 
.block4 p{
color: black;
}
p{
color: #ffffff;
}
h1{
color: #ffffff;
}
h2{
color: #ffffff;
}
